---
import { getKeyByValue } from "@/i18n/utils";
import Section from "../Section.astro";
import { routes } from "@/i18n";
import i18n from "@/i18n/translate.json";
import { CloudComponent } from "@/components/Cloud";

const lang = (Astro.currentLocale || "es") as Languages;

const section = getKeyByValue(routes[lang], "sobre-mi");
---

<Section id={section} class="mx-auto w-full h-screen">
	<div class="bg-main-bg h-full z-20 text-gray-300 flex flex-col justify-center items-center">
		<h2 class="content text-start py-10 text-4xl font-bold">{i18n[lang].about.title}</h2>

		<div class="content text-pretty gap-2 [&>p]:mb-4 max-w-3xl flex justify-center flex-col">
			<p>{i18n[lang].about.p1}</p>

			<p class="right">{i18n[lang].about.p2}</p>
		</div>
	</div>
	<!--
			<div class="absolute top-0 left-0 right-0 w-full h-full">
				<CloudComponent client:load  />
			</div> -->
</Section>

<style>
	.content {
		animation: left 1s linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}

	.content > p.right {
		animation: right 1s linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 20%;
	}
</style>
