---
import { getKeyByValue } from "@/i18n/utils";
import Section from "../Section.astro";
import { routes } from "@/i18n";
import i18n from "@/i18n/translate.json";
import Globe from "../Globe";
import GitHub from "../icons/GitHub.astro";
import Linkedin from "../icons/Linkedin.astro";
import Instagram from "../icons/Instagram.astro";

const lang = (Astro.currentLocale || "es") as Languages;

const section = getKeyByValue(routes[lang], "contacto");
---

<Section id={section} class="h-full w-full mx-auto overflow-hidden">
	<div id="globe" class="grid place-content-center w-full h-full">
		<div
			class="w-full mx-auto relative grid place-content-center scale-150 -z-20 border rounded-lg border-white/10"
		>
			<Globe client:only="react" />
		</div>
		<div
			class="absolute flex flex-col items-center justify-center gap-3 text-center bottom-0 top-0 h-full w-full bg-gradient-to-t from-[#18181b] from-[2%] via-main-bg to-transparent"
		>
			<h2 class="text-7xl font-semibold">{i18n[lang].contact.title}</h2>
			<p>{i18n[lang].contact.subtitle}</p>

			<div class="flex justify-center w-full gap-3 *:size-7 [&>svg]:fill-[#545454]">
				<a href="https://github.com/YoruLi" target="_blank">
					<GitHub />
				</a>
				<a href="https://www.instagram.com/liofarias22/" target="_blank">
					<Instagram />
				</a>
				<a href="https://www.linkedin.com/in/lionel-farias-903711281/" target="_blank">
					<Linkedin />
				</a>
			</div>
			<button
				class="text-center w-auto mt-3 backdrop-blur-md transition-colors border rounded-md px-3 py-1 bg-gradient-to-b from-slate-700/50 to-black/50 hover:opacity-75"
				>{i18n[lang].contact.title}</button
			>
		</div>
	</div>
</Section>

<style></style>
