---
import { getKeyByValue } from "@/i18n/utils";
import Section from "../Section.astro";
import { routes } from "@/i18n";

const lang = (Astro.currentLocale || "es") as Languages;

const section = getKeyByValue(routes[lang], "contacto");
---

<Section id={section} class="py-20">Contacto</Section>
