---
import Layout from "../layouts/Layout.astro";
import Section from "./Section.astro";
import Projects from "./sections/Projects.astro";
import About from "./sections/About.astro";
import Contact from "./sections/Contact.astro";
import { getI18n } from "@/i18n/index";
import Tecnologies from "./sections/Tecnologies.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title="Welcome to Astro.">
  <main class="h-full w-full">
    <Section class="flex flex-col items-center justify-center w-full h-full pb-[280vh]">
      <div
        id="container"
        class="fixed text-center text-pretty flex-col justify-between content-between items-center top-40 w-full h-[calc(200vh)] bg-transparent inset-0 mix-blend-lighten"
      >
        <h1>{i18n.intro.title}</h1>
        <h2>{i18n.intro.subTitle}</h2>

        <div
          id="videoContainer"
          class="w-screen h-screen z-[-20] opacity-30 absolute bg-transparent"
        >
          <video class="w-full h-full object-cover" preload="false" playsinline loop muted autoplay>
            <source src="/videos/hero.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </Section>
    <Tecnologies />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>

<style>
  h1 {
    font-size: clamp(2.5rem, 4vw, 4rem);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h1,
  h2 {
    --speed: 2;
    animation: reduce 1s linear both;
    animation-timeline: scroll();
    animation-range-start: 0 5vh;
    animation-range-end: 0 100vh;
  }

  #videoContainer {
    --speed: 1;
    animation: translate 1s linear both;
    animation-timeline: scroll();
    animation-range-start: 0 200px;
  }
  #container {
    --speed: 1;
    animation: translate 1s linear both;
    animation-timeline: scroll();
    animation-range: exit 200vh;
  }

  @keyframes reduce {
    to {
      scale: 0.7;
    }
  }

  @keyframes translate {
    to {
      transform: translateY(calc(var(--speed) * -100%));
    }
  }
</style>

<script></script>
