---
import { LANGUAGES } from "@/i18n";
import { translatePath } from "@/i18n/utils";

const lang = Astro.currentLocale || "es";

const currentLocaleData = LANGUAGES[lang];
const otherLocales = Object.values(LANGUAGES).filter((locale) => locale.code !== lang);
---

<div class="fixed bottom-0 right-0 py-2 inline-block backdrop-blur-md text-center mx-4 z-20">
  <div
    id="language-selector"
    class="relative group text-white rounded-md text-xs font-semibold bg-white/10 hover:bg-white/20 transition-all"
  >
    <button
      type="button"
      class="relative inline-flex justify-start items-center w-full px-3 h-[33.6px]"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {currentLocaleData.name}
    </button>

    <ul class="group-hover:block isolate z-10 hidden absolute -top-[40px]">
      {
        otherLocales.map((locale) => (
          <li class="py-1 z-0">
            <a
              id="language-selector"
              class="rounded-md   hover:bg-white/20 bg-white/10 whitespace-no-wrap inline-flex justify-start items-center w-full px-3 h-[33.6px]"
              href={`${translatePath(`/`, locale.code)}`}
            >
              {locale.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
<style>
  ul {
    animation: fade-out 0.5s ease;
  }

  @keyframes fade-out {
    from {
      opacity: 0;
      transform: translateY(20%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
</style>
